#id_5{
background-image: url("arabic.jpg");
    color: goldenrod;
}
#id_6{
background-image: url(https://cf.bstatic.com/images/hotel/max1024x768/560/56021261.jpg);
}
article#personal{
   margin-top: 30px;
    margin-left: 30px;
    margin-right:30px;
    margin-bottom:30px;
}
img{
    margin-top: 50px;
    margin-left: 50px;
    margin-right:50px;
    margin-bottom:50px;
}
.headd{
    margin-left: 50px;
    margin-right:50px;
    color:gold;
}